* {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgb(131, 131, 131);
    height: 3em;
    padding: 1em;
    z-index: 100;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 0;
    border-right: 0.1px solid aliceblue;
    top: 0;
    padding-right: 1em;
}

.menu span {
    /* background-color: aliceblue; */
    padding: 0;
    margin: 0.2em;
}

.menu span a {
    text-decoration: none;
    padding: inherit;
    width: 10%;
    border-radius: 1em;
    padding: 5px;
    height: 1em;
    border: 0.1px dotted rgb(0, 136, 255);
    font-family: monospace;
    font-size: 10px;
}

.menu span a:hover {
    border: 0.1px dotted aliceblue;
    background-color: rgba(95, 178, 251, 0.319);
    border-radius: 0;
    font-weight: bold;
    animation: anima-border .5s;
    color: rgb(0, 136, 255);
}

.logo {
    width: 50%;
}

.logo img {
    width: 150px;
    height: auto;
}

.switch-ModeDark-Light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    margin-right: 0;
    border: 0.5 solid yellow;
}

.switch-ModeDark-Light span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(255, 183, 0);
}

.switch-ModeDark-Light img {
    margin: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0.5em;
}

.switch-ModeDark-Light img:hover {
    border: 1px dotted yellow;
    border-radius: 1em;
    animation: border-switchLD 0.5s ease;
}

/* du code css du contenues de la page */

.contents {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

}

/* Les codes du pieds de pages */

.footer {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    width: 100%;
    height: 4em;
    padding: 1em;
    bottom: 0;
}

.footer .mentionLegal {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .mentionLegal p {
    text-align: center;
    color: rgb(0, 136, 255);
}

.footer .foot-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 1em;
    padding: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footBox:hover {
    border: 0.01px dotted rgba(240, 248, 255, 0.197);
    border-radius: 1em;
}

.footBox h3 {
    color: rgb(102, 184, 255);
    padding: 0.3em;
    padding-left: 0;
    width: 90%;
    text-align: left;
    border-bottom: 1px solid white;
    margin-bottom: 0.3em;
}

.footBox p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.footBox a {
    text-decoration: none;
    padding: 0.5em;
    padding-left: 0;
    /* border: 0.1px dotted aliceblue; */
    font-weight: bold;
}

.footBox a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(0, 136, 255);
    background-color: rgba(105, 250, 255, 0.044);
}

/* all animation code */

@keyframes anima-border {

    /* Bordure menu animation */
    0% {
        border-radius: 1em;
    }

    40% {
        border-color: brown;
    }

    70% {
        border-color: aliceblue;
    }

    100% {
        border-radius: 0;
    }
}

@keyframes border-switchLD {
    from {
        width: 0;
    }

    to {
        width: 30px;
    }
}